.container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;  
    
}

.navbar li {
    font-size: 45px;
    list-style: none;
}

.navbar li a {
    font-size: 25px;
}

