/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  background-color: #f5f3f0;
  font: 400 14px Roboto, sans-serif;
}

input,
button,
textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

a {
    font: 400 14px Roboto, sans-serif;
    color: rgb(190, 85, 85);
    text-decoration: none;
}

a:hover {
    color: rgb(119, 119, 119);
    font-weight: 700;
}


form input {
  border: 1px solid #dcdce6;
  border-radius: 8px;
  color: #333;
  height: 50px;
  margin: 10px 10px;
  padding: 0 26px;
  width: 100%;
}

.button {
  background-color: rgb(190, 85, 85);
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  height: 50px;
  margin: 8px 8px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.button:hover {
    filter: brightness(95%)
}
